body {
	background: #eee;
}

body,
div.body h1,
div.body h2,
div.body h3,
div.body h4,
div.body h5,
div.body h6 {
	font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
}

#searchbox,
div > div.ethical-sidebar,
.footer,
.injected,
.sphinxsidebarwrapper > :not(ul),
.ethical-alabaster {
	display: none !important;
}

.bodywrapper .body {
	padding: 30px;
	box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14)
}

div#yellowpaper {
	background: rgba(255, 255, 0, 0.5);
	padding: 30px;
}

